
html, main {
  margin: auto;
  padding: 0;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;       
  min-height: 100vh;         
}
.all-items {
    display: flex;
  flex-direction: row;     
  justify-content: center; 
  align-items: center;     
  gap: 20px;       
}
.header1 {
display: flex;
  justify-content: space-between; 
  margin-left: 100px;
  gap: 40px;
  align-items: center; }

.header2 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  color:#c4cfde;
  
  }

  .intro {
    

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 10px;
    margin-left: 98px;;
    margin-top: 20px;
  }

.header3 {
    font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color:rgb(255, 255, 255)
}

.header3-name {
    font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color:rgb(255, 1, 79)
}




.paragraph {
    margin-left:100px;
  display :flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  padding-right:100px;
  min-width: 300px;
  max-width: 600px;
}

.paragraph p {
font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(196, 207, 222);
  text-size-adjust: 100%;
  text-align: left;
}

.icons {
display: flex;
  flex-direction: column; 
  gap: 10px;    
  margin-left:100px;        
}
.header4 {
   text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  color:#c4cfde;
}
 .socials {

  display: flex;
  flex-direction: row;
  gap: 25px;
 }
  .icon {
    color:rgb(246, 246, 246);
    box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(28, 30, 34) -10px -10px 19px 0px;
  }
  .picture {
    height: 500px;
    width: auto;
    border-radius: 50px;
  
  max-width: 300px;
  }
    

